{% if status %}
{% if status.error and status.error.message %}
{% set show_table = false %}
<div class="alert alert-error">
    <strong>{{ _('Upload error:') }}</strong> {{ status.error.message }}
</div>
{% elif status.task_info and status.task_info.error %}
<div class="alert alert-error">
    {% if status.task_info.error is string %}
    {# DataPusher < 0.0.3 #} <strong>{{ _('Error:') }}</strong> {{ status.task_info.error }}
        {% elif status.task_info.error is mapping %}
        <strong>{{ _('Error:') }}</strong> {{ status.task_info.error.message }}
        {% for error_key, error_value in status.task_info.error.items() %}
        {% if error_key != "message" and error_value %}
        <br>
        <strong>{{ error_key }}</strong>:
        {{ error_value }}
        {% endif %}
        {% endfor %}
        {% elif status.task_info.error is iterable %}
        <strong>{{ _('Error traceback:') }}</strong>
        <pre>{{ ''.join(status.task_info.error) }}</pre>
        {% endif %}
</div>
{% endif %}


<table class="table table-bordered">
    <colgroup>
        <col width="150">
        <col>
    </colgroup>
    <tr>
        <th>{{ _('Status') }}</th>
        <td>{{status.status}}</td>
    </tr>
    <tr>
        <th>{{ _('Last updated') }}</th>
        {% if status.status %}
        <td><span class="date" title="{{ h.render_datetime(status.last_updated, with_hours=True) }}">{{
                h.time_ago_from_timestamp(status.last_updated) }}</span></td>
        {% else %}
        <td>{{ _('Never') }}</td>
        {% endif %}
    </tr>
</table>

{% if status and status.logs %}
<h3>{{ _('Graph Update Log') }}</h3>
<ul class="activity">
    {% for item in status.logs|sort(attribute='timestamp') %}
    {% set level = 'info' if item.level == 'DEBUG' else item.level %}
    {% if item.level == 'INFO' %}
    {% set icon = 'check'%}
    {% elif item.level == 'DEBUG' %}
    {% set icon = 'bug-slash'%}
    {% else %}
    {% set icon = 'exclamation'%}
    {% endif %}
    {% set class = 'failure' if icon == 'exclamation' else ' success' %}
    {% set popover_content = 'test' %}
    <li class="item {{ class }}">
        <i class="fa icon fa-{{icon}}"></i>
        <div class="alert alert-{{level |lower }} mb-0 mt-3" role="alert">
            {% for line in item.message.strip().split('\n') %}
            {{ line | urlize }}<br />
            {% endfor %}
        </div>
        <span class="date" title="{{ h.render_datetime(item.timestamp, with_hours=True) }}">
            {{ h.time_ago_from_timestamp(item.timestamp) }}
        </span>
    </li>
    {% endfor %}
</ul>

{% endif %}
{% endif %}