{% extends "package/read_base.html" %}
{% import 'macros/form.html' as form %}


{% block primary_content_inner %}
<h2 class="hide-heading">{{ _('Fuseki') }}</h2>
<form class="add-to-group" method="post">
  {{ h.csrf_input() }}
  <button class="btn btn-secondary" name="create/update" type="submit">
    <i class="fa fa-refresh"></i> {{ _('Create/Update') }}
  </button>
  {% if h.fuseki_graph_exists(pkg_dict.id) %}
  <button class="btn btn-danger" name="delete" type="submit">
    <i class="fa fa-trash"></i> {{ _('Delete') }}
  </button>
  <a class="btn btn-primary mb-0"
    href="/sparklis/?title={{pkg_dict.name}}&endpoint={{ h.fuseki_graph_exists(pkg_dict.id)|safe }}"
    role="button">
    <i class="fa fa-play"></i> {{ _('Query') }}
  </a>
  {% endif %}
  <hr class="mt-0">
  <table class="table table-bordered table-sm m-0">
    <thead class="">
      <tr>
        <th>{{ _('upload') }}</th>
        <th>{{ _('name') }}</th>
        <th>{{ _('format') }}</th>
        <th>{{ _('mime type') }}</th>
        <th>{{ _('size') }} [B]</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in resources %}
      <tr>
        <td>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name='resid' id="ckeck-{{resource.id}}"
              value={{resource.id}} {% if status.metadata is defined %} {% if resource.id in
              status.metadata.res_ids%}checked='true' {% endif %} {% elif h.fuseki_show_tools(resource) %}checked='true'
              {% endif %}>
          </div>
        </td>
        <td>{{resource.name}}</td>
        <td>{{resource.format}}</td>
        <td>{{resource.mimetype}}</td>
        <td>{{resource.size}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
<hr class="mt-0">
{% if status %}
{% if status.error and status.error.message %}
{% set show_table = false %}
<div class="alert alert-error">
  <strong>{{ _('Upload error:') }}</strong> {{ status.error.message }}
</div>
{% elif status.task_info and status.task_info.error %}
<div class="alert alert-error">
  {% if status.task_info.error is string %}
  {# DataPusher < 0.0.3 #} <strong>{{ _('Error:') }}</strong> {{ status.task_info.error }}
    {% elif status.task_info.error is mapping %}
    <strong>{{ _('Error:') }}</strong> {{ status.task_info.error.message }}
    {% for error_key, error_value in status.task_info.error.items() %}
    {% if error_key != "message" and error_value %}
    <br>
    <strong>{{ error_key }}</strong>:
    {{ error_value }}
    {% endif %}
    {% endfor %}
    {% elif status.task_info.error is iterable %}
    <strong>{{ _('Error traceback:') }}</strong>
    <pre>{{ ''.join(status.task_info.error) }}</pre>
    {% endif %}
</div>
{% endif %}


<table class="table table-bordered">
  <colgroup>
    <col width="150">
    <col>
  </colgroup>
  <tr>
    <th>{{ _('Status') }}</th>
    <td>{{status.status}}</td>
  </tr>
  <tr>
    <th>{{ _('Last updated') }}</th>
    {% if status.status %}
    <td><span class="date" title="{{ h.render_datetime(status.last_updated, with_hours=True) }}">{{
        h.time_ago_from_timestamp(status.last_updated) }}</span></td>
    {% else %}
    <td>{{ _('Never') }}</td>
    {% endif %}
  </tr>
</table>

{% if status and status.logs %}
<h3>{{ _('Graph Update Log') }}</h3>
{% for item in status.logs|sort(attribute='timestamp') %}
{% set level = 'info' if item.level == 'DEBUG' else item.level %}
{% set popover_content = 'test' %}
<div class="alert alert-{{level |lower }} mb-0 mt-3" role="alert">
  {% for line in item.message.strip().split('\n') %}
  {{ line | urlize }}<br />
  {% endfor %}
</div>
<span class="date" title="{{ h.render_datetime(item.timestamp, with_hours=True) }}">
  {{ h.time_ago_from_timestamp(item.timestamp) }}
</span>
{% endfor %}
{% endif %}
{% endif %}
{% endblock %}
